/* body{background-color: rgb(88, 53, 60)}  */
/* MINIMAL FLEX LAYOUT */
html,
body {
    min-height: 100vh;
    margin: auto;
    background-image: linear-gradient(to bottom right, #ec9f05, #ff4e00);
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;
    max-width: 80%;
    margin: auto;
}

header {
    text-align: center;
    background-image: linear-gradient(to bottom right, #EE6C45, #FFE58A);
    ;
}

h4 {
    text-align: end;
}

table {
    width: 100%;
}

tr {
    text-align: left;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
}

th,
td {
    padding: .5em;
    min-width: 3.5em;
}

thead {
    background: #792200;
    color: #fefefe;
}

tbody tr:nth-child(odd) {
    background: #fda876;
}

tbody tr:nth-child(even) {
    background: #9c502498;
}